/* General page styling */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
    padding: 20px 0;
    background-color: #333;
    text-align: center;
}

/* Social links styling */
.social-links__copy {
    display: block;
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.social-links__items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links__item {
    margin: 0 10px;
}

.social-links__link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.social-links__link:hover {
    color: #00aced;
}

.facebook-icon, .twitter-icon, .instagram-icon, .tiktok-icon, .linkedin-icon {
    width: 32px;
    height: 32px;
    fill: #fff;
    transition: fill 0.3s ease;
}

.social-links__link:hover .facebook-icon,
.social-links__link:hover .twitter-icon,
.social-links__link:hover .instagram-icon,
.social-links__link:hover .tiktok-icon,
.social-links__link:hover .linkedin-icon {
    fill: #00aced;
}

.container h4 {
    margin-bottom: 15px;
    color: #333;
}

.list-inline-item img {
    transition: transform 0.3s;
}

.list-inline-item img:hover {
    transform: scale(1.1);
}
